<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Product</title>
</head>
<body>
<h1>Delete Product</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/product/list">Product List</a>
</p>
<form th:action="@{/product/delete-product}" th:object="${product}" method="post" enctype="multipart/form-data">
    <input th:type="hidden" name="id" th:field="*{productId}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${product.productName}"></td>
        </tr>

        <tr>
            <td>Price</td>
            <td th:text="${product.productPrice}"></td>
        </tr>

        <tr>
            <td>Quantity</td>
            <td th:text="${product.productQuantity}"></td>
        </tr>

        <tr>
            <td>Category</td>
            <td th:text="${product.category.name}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>