<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Customers</h1>
<form>
    Search by first name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form><br/>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="cart : ${carts}">
        <tr>
            <td th:text="${cart.orderNumber}"></td>
            <td th:text="${cart.product.productName}"></td>
            <td th:text="${cart.user.userName}"></td>
            <td><a th:href="@{/edit-customer/__${cart.cartId}__}">Edit</a></td>
            <td><a th:href="@{/delete-customer/__${cart.cartId}__}">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>