<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Form</title>
</head>
<body>
<h1>Edit product</h1>
<p>
    <a href="/product/list">Product List</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/product/edit-product}" th:object="${product}" enctype="multipart/form-data" method="post">
    <input th:type="hidden" name="id" th:field="*{productId}">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{productName}"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{productPrice}"></td>
        </tr>

        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field="*{productQuantity}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category">
                    <option th:each="c : ${categories}"
                            th:value="${c.categoryId}"
                            th:text="${c.name}"
                            th:selected="(${c.categoryId} == *{category.categoryId})">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>