<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
<h1 style="text-align: center">Product List</h1>
<h3><a href="/product/create">Create new product</a></h3>

form>
<div>
    <input name="s" type="text" placeholder="Search by name" style="width: 40%"/>
    <input type="submit" value="Search" style="background-color: #0000FF"/>
</div>
</form>
<table>
    <tr th:border="1" id="products">
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price ($)</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product: ${products}">
        <tr>
            <td th:text="${product.productId}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productQuantity}"></td>
            <td th:text="${product.category.name}"></td>
            <td><a th:href="@{/product/edit-product/__${product.productId}__}">Edit</a></td>
            <td><a th:href="@{/product/delete-product/__${product.productId}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<hr/>
<div style="text-align: center;color: saddlebrown">
    <a th:href="@{'/product/list'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/product/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>